<h1>Pablo's Dough Catalog</h1>
<h4>Thank you for singing up, here is a list of our tummy huggers:</h4>
<h5>Cakes </h5>
<% MyCakes.get_cakes.each do |cake| %>
<%= cake.name %> <br>
<%= cake.description %> <br>
<%= cake.price %>  <br>
<% end %>
<br>

<h5>Muffins </h5>
<% MyMuffins.get_muffins.each do |muffin| %>
<%= muffin.name %> <br>
<%= muffin.description %> <br>
<%= muffin.price %>  <br>
<% end %>
<br>

<h5>Cookies </h5>
<% MyCookies.get_cookies.each do |cookie| %>
<%= cookie.name %> <br>
<%= cookie.description %> <br>
<%= cookie.price %>  <br>
<% end %>
<br>
